* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  width: 50%;
  height: 60%;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
#top {
  width: 100%;
  height: 25%;
  background-color: rgba(204, 179, 179, 0.695);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 10px;
}
#bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
.keys {
  width: 12.5%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: 5px solid black;
  border-radius: 15px;
}
button:hover {
  background-color: rgb(187, 187, 187);
}
